/* NAVBAR */
.navbar .links a {
	font-size: 1em;
}

/* DISPLAY */
.display #home, 
.display #about, 
.display #resume, 
.display #projects {
	margin-top: 85px;
}

.display #about img {
	display: none;
}

.display #about div p {
	margin: 1em auto;
}

.display #resume,
.display #projects {
	width: 90%;
}

.display .sub {
	margin: 0em;
	padding: 0.8em;
}

.display .sub .date {
	float: left;
	clear: both;
	font-size: 0.85em;
	font-style: italic;
}

.display .sub .desc ul {
	width: 90%;
}