.navigation .navigation-links a {
	margin: 0.1em 0em;
	padding: 10px 5px;
	font-size: 0.9em;
}

#about .sub .left,
#about .sub .right {
	display: block;
	width: auto;
}

#resume .sub .left,
#resume .sub .right,
#projects .sub .left,
#projects .sub .right {
	display: block;
	width: auto;
}

#resume .sub .left,
#projects .sub .left {
	font-size: 0.65em;
	text-align: left;
	color: #3E3E3E;
}

#projects .sub {
	margin: 1.5em 0em;
}

#projects .sub .section-title {
	margin: 0.2em 0em;
}