body {
	background-color: #ececec;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 1px;
	font-family: 'Open Sans', Verdana;
	font-size: 1em;
}

@font-face { 
	font-family: 'Open Sans';
	src: url('Fonts/open-sans/OpenSans-Regular.ttf');
}

@font-face {
	font-family: 'Roboto Thin';
	src: url('Fonts/Roboto/Roboto-Thin.ttf');
}

@font-face {
	font-family: 'Open Sans Light';
	src: url('Fonts/open-sans/OpenSans-Light.ttf');
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

}

a:hover{
	color: #c2c2c2;
}

.colortoggle {
	text-align: center;
	padding-left: 1em;
	font-size: 1.5em;
	padding-top: 4.5em;
	position: fixed;
	cursor: default;
}

#first {
	color: #008161;
	cursor:	pointer;
}

#second {
	color: #470047;
	cursor:	pointer;
}

#third {
	color: rgb(99,00,33);
	cursor:	pointer;
}

#fourth {
	color: #000040;
	cursor:	pointer;
}

#fifth {
	color: #D68533;
	cursor:	pointer;
}

.content {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 7.25em;
	font-size: 1em;
}

.header {
	background-color: rgb(99,00,33);
	margin-top: 0px;
	width:100%;
	position: fixed;
	color: #ececec;
	font-family:'Roboto Thin';
	text-align: center;
}


.header .navbar {
	width: 50%;
	float:right;
	font-family:'Roboto Thin';
	text-align: center;	
	font-size: 2em;
	margin-top: 0.75em;
	margin-bottom: 0.75em;
}

.header .navbar img {
	width:50px;
	vertical-align: middle;
	margin-left: 0.4em;
	margin-right: 0.4em;
	opacity: 0.75;
}

.header .info {
	width: 50%;
	float:left;
}

.header .info h1 {
	font-family: 'Roboto Thin';
	color: #ececec;
	font-size: 4em;
	margin: 0px;
	cursor: default;
}

.section {
	padding-top: 1em;
	width:90%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Open Sans', Verdana;
	font-size: 1em;
}

.section h2 {
	width: 75%;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 18px;
	text-align: center;
	font-family: 'Roboto Thin';
	font-size: 3em;
	border-bottom: 1px dashed gray;
}

.section p {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	float: none;
	text-align: center;
	font-family: 'Open Sans', Verdana;
	font-size: 1em;
}

.section img {
	width: 200px;
	height:auto;
}

.section .subsection {
	width: 100%;
	display: block;
}

.section .subsection h3 {
	width:100%;
	margin: 5px;
	font-family: 'Roboto Thin';
	font-size: 2em;
	color: #990033;
	float:left;
	text-align: center;
	padding-bottom: 5px;
}

.section .subsection .sub {
	width: 75%;
	padding:10px;
	overflow: auto;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Open Sans', Verdana;
}

.section .subsection .sub .date {
	float: right;
	height:auto;
}

.section .subsection .sub .desc {
	float: left;
	width: 100%;
	height: auto;
}

.section .subsection .sub .desc ul {
	width: 90%;
}

.section .subsection .sub .info {
	float:left;
	height: auto;
}

.section .subsection .sub .title {
	width: 100%;
	float: left;
	height: auto;
}

.section .subsection .sub .title h4 {
	margin: 0px;
	font-size: 1.5em;
}


.section .subsection .sub h4 {
	margin: 0px;
	font-size: 1.5em;
	font-weight:heavy;
}

.section .subsection .sub .list {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
}

.footer {
	border-top: 1px solid #c2c2c2;
	width: 100%;
	font-size: 0.7em;
	font-weight: bold;
	text-align: center;
	color: #990033;
	font-family:'Open Sans', Verdana;
}

.footer p {
	text-transform: uppercase;
	margin-bottom: 0;
}
