@media screen and (max-width: 570px) {
	body {
		font-size: 12px;
		background-image: url('background-image-mobile.jpg');
		position: absolute; 
	    height: 100%; 
	    width: 100%;
	    left: 0;
	    right: 0;
	    top: 0;
	    bottom: 0;
	    background-position: 50% 50%; 
	    -webkit-background-size: cover; 
	    -moz-background-size: cover; 
	    background-size: cover;
	}

	.container {
		width: 350px;
		height: 350px;
		border-radius: 350px;
	}

	.main {
		margin-top: 87.5px;
	}
}
