body {
	background-color: #ececec;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	font-family: 'Roboto', Arial;
}

@font-face { 
	font-family: 'Roboto';
	src: url('Fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
	font-family: 'Roboto Thin';
	src: url('Fonts/Roboto/Roboto-Thin.ttf');
}

@font-face {
	font-family: 'Roboto Light Italic';
	src: url('Fonts/Roboto/Roboto-LightItalic.ttf');
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.sub .date {
		float: left;
		font-family: Arial;
	}
}

a:hover{
	color: #c2c2c2;
}

.content {
	padding-top: 7em;
}

.header {
	background-color: rgb(99,00,33);
	margin-top: 0px;
	width:100%;
	position: fixed;
	color: #ececec;
	font-family:'Roboto Thin';
	text-align: center;
}


.header .navbar {
	width: 50%;
	float:right;
	font-family:'Roboto Thin';
	text-align: center;	
	font-size: 2em;
	margin-bottom: 10px;
}

.header .navbar a {
	text-align: center;
	text-decoration: none;
	font-size: 1em;
	color: #ececec;
}

.header .info {
	width: 50%;
	height: 3em;
	float:left;
}

.header .info h1 {
	font-family: 'Roboto Thin';
	color: #ececec;
	font-size: 4em;
	margin: 0px;
}

.section {
	padding-top: 1em;
	width:80%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Roboto';
	font-size: 1em;
}

.section h2 {
	margin-top: 5px;
	text-align: center;
	font-family: 'Roboto Thin';
	font-size: 3em;
	border-bottom: 1px dashed gray;
}

.section p {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	float: none;
	text-align: center;
	font-family: 'Roboto';
}

.section img {
	width: 200px;
	height:auto;
}

.section .subsection {
	width: 100%;
	display: block;
}

.section .subsection h3 {
	width:100%;
	margin: 5px;
	font-family: 'Roboto';
	font-size: 2em;
	color: #990033;
	float:left;
	text-align: center;
	padding-bottom: 5px;
}

.section .subsection a {
	width: 100%;
	margin: 5px;
	float: left;
	text-align: center;
	text-decoration: none;
	font-family: 'Roboto';
	font-size: 1.5em;
	color: #990033;
}


.section .subsection .sub {
	width: 75%;
	padding:10px;
	overflow: auto;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Roboto';
}

.section .subsection .sub .date {
	float: right;
	height:auto;
}

.section .subsection .sub .desc {
	float: left;
	width: 100%;
	height: auto;
}

.section .subsection .sub .desc ul {
	width: 90%;
}

.section .subsection .sub .info {
	float:left;
	height: auto;
}

.section .subsection .sub .title {
	width: 100%;
	float: left;
	height: auto;
}

.section .subsection .sub .title h4 {
	margin: 0px;
	font-size: 1.5em;
	font-weight:heavy;
}


.section .subsection .sub h4 {
	margin: 0px;
	font-size: 1.5em;
	font-weight:heavy;
}

.section .subsection .sub .list {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
}

.footer {
	background-color: #ececec;
	position: fixed;
	right: 5em;
	bottom: 0.5em;
	font-family:'Roboto';
}

.footer a{
	color: #505050;
	text-decoration: none;
	font-size: 4em;
	font-weight: bolder;
}

.footer a:hover{
	color: #990033;
}
