<!-- Contact -->
<div id="contact">
	<section class-"section">
		<div class="sub">
			<div class="section-title">Email</div>
		
			<div class="desc" data-ng-repeat="contact in vm.contact">
				<a class="details" href="{{contact.select+contact.info}}" ng-if="contact.type=='email'">{{contact.info}}</a>
			</div>
		</div>

		<div class="sub">
			<div class="section-title">Phone</div>
		
			<div class="desc" data-ng-repeat="contact in vm.contact">
				<a class="details" href="{{contact.select+contact.info}}" ng-if="contact.type=='phone'">{{contact.info}}</a>
			</div>
		</div>

		<div class="sub">
			<div class="section-title">Others</div>
		
			<div class="desc icon">
				<span data-ng-repeat="link in vm.links">
					<a class="details" href="{{link.link}}" target="{{link.target}}"><img ng-src="{{link.img}}" alt="{{link.name}}"></a>
				</span>
			</div>
		</div>
	</section>
</div>