<!-- Contact -->
<div id="contact">
	<div class="section-title">{{vm.contact.title}}</div>
		<table>
			<tr>
				<td class="label">Email:</td>
				<td class="details">{{vm.contact.gmail.one}}<span class="hide">null</span>{{vm.contact.gmail.two}}<span class="hide">null</span>{{vm.contact.gmail.three}}<span class="hide">null</span>
				</td>
			</tr>
			<tr>
				<td></td>
				<td class="details">{{vm.contact.mcmaster.one}}<span class="hide">null</span>{{vm.contact.mcmaster.two}}<span class="hide">null</span>{{vm.contact.mcmaster.three}}</td>
			</tr>
			<tr>
				<td class="label">Phone:</td>
				<td class="details">{{vm.contact.phone.one}}<span class="hide">null</span>{{vm.contact.phone.two}}<span class="hide">null</span>{{vm.contact.phone.three}}</td>
			</tr>
		</table>
</div>