<!-- Resume -->
<div id="resume">
	<section class="section">
		<div class="section-title">{{vm.titles.skills}}</div>
		<div class="sub">
			<div class="left">
				<span class="label">{{vm.skills.tools}}</span>
			</div>
			<div class="right">
				<span class="list">{{vm.skills.tools_desc}}</span>
			</div>	
		</div>

		<div class="sub">
			<div class="left">
				<span class="label">{{vm.skills.others}}</span>
			</div>
			<div class="right">
				<span class="list">{{vm.skills.others_desc}}</span>
			</div>	
		</div>
		
	</section>

	<section class="section">
		<div class="section-title">{{vm.titles.work}}</div>
		<div class="sub" data-ng-repeat="job in vm.jobs">
			<div class="left">
				<span class="date">{{job.date}}</span>
			</div>
			<div class="right">
				<span class="title">{{job.title}}</span>
				<span class="location">{{job.location}}</span>
				<div class="desc">
					<ul>
						<li data-ng-repeat="item in job.description">{{item}}</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="section-title">{{vm.titles.education}}</div>
		<div class="sub">
			<div class="left">
				<span class="date">{{vm.education.date}}</span>
			</div>
			<div class="right">
				<span class="title">{{vm.education.title}}</span>
				<span class="location">{{vm.education.location}}</span>
				<div class="desc">
					<ul>
						<li data-ng-repeat="item in vm.education.description">{{item}}</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="section-title">{{vm.titles.awards}}</div>
		<div class="sub" data-ng-repeat="award in vm.awards">
			<div class="left">
				<span class="date">{{award.date}}</span>
			</div>
			<div class="right">
				<span class="title">{{award.title}}</span>
				<span class="location">{{award.location}}</span>
				<div class="desc">
					<ul>
						<li data-ng-repeat="item in award.description">{{item}}</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</div>